form(action="/users/addData" method="Post")
    input(type="text" placeholder="Enter User Name" name="inputName")
    input(type="Password" placeholder="Enter Password" name="inputPassword")
    input(type="Email" placeholder="Enter Email" name="inputEmail")
    input(type="submit")